.directory {
  color: blue;
}

img {
  max-height: 600px;
  max-width: 600px;
  }
  
  * {
    color: rgb(77, 83, 88);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }

  h1, 
  h2,
   h3,
   h4 {
    color: blue

  }

  h3,
  h4 {
    font-size: 16px;
  }

  h2 {
    font-size: 22px;
  }

  h1 {
    font-size: 28px;
  
  }

